validation-web/flows/agriculture1.json
[{"id":"9328ce04.dd361","type":"tab","label":"Agriculture 1","disabled":false,"info":""},{"id":"2c541bce.e9892c","type":"switch","z":"9328ce04.dd361","name":"Temp > 23ºC | Temp < 20 ºC ?","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"23","vt":"num"},{"t":"gt","v":"20","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":225,"y":583,"wires":[["38a091b4.375f7e"],["8afba584.90a7d8"]]},{"id":"8afba584.90a7d8","type":"change","z":"9328ce04.dd361","name":"Turn ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":535,"y":663,"wires":[["8264f4bd.8f3e18","774d2fc4.0c436"]]},{"id":"38a091b4.375f7e","type":"change","z":"9328ce04.dd361","name":"Turn OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":535,"y":523,"wires":[["8264f4bd.8f3e18"]]},{"id":"69298d18.7dfec4","type":"mqtt in","z":"9328ce04.dd361","name":"","topic":"agriculture/temp-hum-readings","qos":"0","datatype":"json","broker":"b58f7f20.4930d8","x":151,"y":315,"wires":[["cb55c29c.6134c8","c6b63173.ab8428"]]},{"id":"8264f4bd.8f3e18","type":"mqtt out","z":"9328ce04.dd361","name":"","topic":"agriculture/heat-system/command","qos":"","retain":"","broker":"b58f7f20.4930d8","x":935,"y":521,"wires":[]},{"id":"a49a032d.ac3e6","type":"mqtt out","z":"9328ce04.dd361","name":"","topic":"agriculture/roof-window/command","qos":"","retain":"","broker":"b58f7f20.4930d8","x":1124,"y":663,"wires":[]},{"id":"774d2fc4.0c436","type":"change","z":"9328ce04.dd361","name":"Close Window","rules":[{"t":"set","p":"payload","pt":"msg","to":"CLOSE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":815,"y":663,"wires":[["a49a032d.ac3e6"]]},{"id":"3df9d9d1.d3d27e","type":"mqtt out","z":"9328ce04.dd361","name":"","topic":"agriculture/water-system/command","qos":"","retain":"","broker":"b58f7f20.4930d8","x":1136,"y":93,"wires":[]},{"id":"e6b13e1e.dbdc2","type":"switch","z":"9328ce04.dd361","name":"Hum <= 75","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"75","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":426,"y":113,"wires":[["6fac253f.230224"],["9a740bb4.06772"]]},{"id":"6fac253f.230224","type":"change","z":"9328ce04.dd361","name":"Turn ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":716,"y":30,"wires":[["3df9d9d1.d3d27e"]]},{"id":"9a740bb4.06772","type":"change","z":"9328ce04.dd361","name":"Turn OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":199,"wires":[["3df9d9d1.d3d27e"]]},{"id":"cb55c29c.6134c8","type":"change","z":"9328ce04.dd361","name":"Extract Humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.hum","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":156,"y":113,"wires":[["e6b13e1e.dbdc2"]]},{"id":"c6b63173.ab8428","type":"change","z":"9328ce04.dd361","name":"Extract Temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temp-C","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":495,"y":315,"wires":[["2c541bce.e9892c"]]},{"id":"b58f7f20.4930d8","type":"mqtt-broker","z":"","name":"","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]