validation-web/flows/agriculture1-solved.json
[{"id":"2e12d533.528bba","type":"tab","label":"Agriculture 1","disabled":false,"info":""},{"id":"c262707f.605d4","type":"switch","z":"2e12d533.528bba","name":"Temp > 23ºC | Temp < 20 ºC ?","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"23","vt":"num"},{"t":"lt","v":"20","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":225,"y":583,"wires":[["c3224d59.3daa98"],["4898227d.0c7c1c"]]},{"id":"4898227d.0c7c1c","type":"change","z":"2e12d533.528bba","name":"Turn ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":535,"y":663,"wires":[["c8d67dd1.cff328","9a55be2b.6a97a"]]},{"id":"c3224d59.3daa98","type":"change","z":"2e12d533.528bba","name":"Turn OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":535,"y":523,"wires":[["c8d67dd1.cff328"]]},{"id":"bbfaf850.e15768","type":"mqtt in","z":"2e12d533.528bba","name":"","topic":"agriculture/temp-hum-readings","qos":"0","datatype":"json","broker":"76c335fb.4a4864","x":151,"y":315,"wires":[["28c3cca0.d0009c","13ad3e7f.567bfa"]]},{"id":"c8d67dd1.cff328","type":"mqtt out","z":"2e12d533.528bba","name":"","topic":"agriculture/heat-system/command","qos":"","retain":"","broker":"76c335fb.4a4864","x":935,"y":521,"wires":[]},{"id":"7a0cde46.862ea8","type":"mqtt out","z":"2e12d533.528bba","name":"","topic":"agriculture/roof-window/command","qos":"","retain":"","broker":"76c335fb.4a4864","x":1124,"y":663,"wires":[]},{"id":"9a55be2b.6a97a","type":"change","z":"2e12d533.528bba","name":"Close Window","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":815,"y":663,"wires":[["7a0cde46.862ea8"]]},{"id":"75c76854.dc97a","type":"mqtt out","z":"2e12d533.528bba","name":"","topic":"agriculture/water-system/command","qos":"","retain":"","broker":"76c335fb.4a4864","x":1136,"y":93,"wires":[]},{"id":"250eff6.2647e","type":"switch","z":"2e12d533.528bba","name":"Hum <= 75","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"75","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":426,"y":113,"wires":[["69624657.dbc068"],["11e4ec53.b57e6c"]]},{"id":"69624657.dbc068","type":"change","z":"2e12d533.528bba","name":"Turn ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":716,"y":30,"wires":[["75c76854.dc97a"]]},{"id":"11e4ec53.b57e6c","type":"change","z":"2e12d533.528bba","name":"Turn OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":199,"wires":[["75c76854.dc97a"]]},{"id":"28c3cca0.d0009c","type":"change","z":"2e12d533.528bba","name":"Extract Humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.hum-percent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":156,"y":113,"wires":[["250eff6.2647e"]]},{"id":"13ad3e7f.567bfa","type":"change","z":"2e12d533.528bba","name":"Extract Temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temp-C","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":495,"y":315,"wires":[["c262707f.605d4"]]},{"id":"76c335fb.4a4864","type":"mqtt-broker","z":"","name":"","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]