validation-web/flows/tutorial2-solved.json
[{"id":"1d62201b.425328","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"fb892796.5308e8","type":"debug","z":"1d62201b.425328","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":100,"wires":[]},{"id":"def22e87.56c95","type":"mqtt in","z":"1d62201b.425328","name":"","topic":"tutorial/earthquake-sensor","qos":"2","datatype":"json","broker":"38f1c72a.4d1758","x":280,"y":220,"wires":[["fb892796.5308e8","f1c03057.213638"]]},{"id":"60cdef41.33b2e8","type":"switch","z":"1d62201b.425328","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"7","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":220,"wires":[["999c9648.23bd48"]]},{"id":"999c9648.23bd48","type":"change","z":"1d62201b.425328","name":"Alarm ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":220,"wires":[["94dd6240.7635d","5220af35.371f7"]]},{"id":"94dd6240.7635d","type":"mqtt out","z":"1d62201b.425328","name":"","topic":"tutorial/alarm/command","qos":"","retain":"","broker":"38f1c72a.4d1758","x":1250,"y":220,"wires":[]},{"id":"f1c03057.213638","type":"change","z":"1d62201b.425328","name":"Extract Magnitude","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.mag","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":220,"wires":[["60cdef41.33b2e8"]]},{"id":"5220af35.371f7","type":"debug","z":"1d62201b.425328","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1130,"y":100,"wires":[]},{"id":"38f1c72a.4d1758","type":"mqtt-broker","z":"","name":"","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]