flows/fake-heat-system.json
[{"id":"fa49471.c21bab8","type":"tab","label":"Fake Heat System","disabled":false,"info":""},{"id":"b25f38b.e4a2b48","type":"function","z":"fa49471.c21bab8","name":"Temperature Sensor","func":"let min = 15;\nlet max = 25;\nmsg.payload = Math.floor(Math.random() * (max - min + 1)) + min;\n\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":180,"wires":[["e26eb78d.f88dc8","9a74a460.d649b8"]],"outputLabels":["number"],"icon":"node-red/bridge.svg"},{"id":"e26eb78d.f88dc8","type":"debug","z":"fa49471.c21bab8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":430,"y":60,"wires":[]},{"id":"9a74a460.d649b8","type":"switch","z":"fa49471.c21bab8","name":"Temp < 22 ºC ?","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"22","vt":"num"},{"t":"gte","v":"22","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":400,"y":180,"wires":[["3d0b3a01.320e26"],["d75631e6.ab76b8"]]},{"id":"ea1b8cf2.19b118","type":"inject","z":"fa49471.c21bab8","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":165,"y":60,"wires":[["b25f38b.e4a2b48"]]},{"id":"3d0b3a01.320e26","type":"change","z":"fa49471.c21bab8","name":"Turn ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":655,"y":40,"wires":[["99d0798f.d9ebe"]]},{"id":"d75631e6.ab76b8","type":"change","z":"fa49471.c21bab8","name":"TURN OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":645,"y":260,"wires":[["99d0798f.d9ebe"]]},{"id":"99d0798f.d9ebe","type":"function","z":"fa49471.c21bab8","name":"Heat System","func":"\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":160,"wires":[["f19b7276.d4fc08"]],"icon":"node-red/cog.svg"},{"id":"f19b7276.d4fc08","type":"debug","z":"fa49471.c21bab8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":160,"wires":[]}]