flows/mqtt.json
[{"id":"1a8d1247.eb464e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6ee1eef6.d995b","type":"switch","z":"1a8d1247.eb464e","name":"Temp < 22 ºC ?","property":"payload.temp-C","propertyType":"msg","rules":[{"t":"lt","v":"22","vt":"num"},{"t":"gte","v":"22","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":575,"y":180,"wires":[["26ea5ce9.62dd84"],["3d18211f.f97b06"]]},{"id":"26ea5ce9.62dd84","type":"change","z":"1a8d1247.eb464e","name":"Turn ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":40,"wires":[["87e7edd5.bf5688"]]},{"id":"3d18211f.f97b06","type":"change","z":"1a8d1247.eb464e","name":"TURN OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":260,"wires":[["87e7edd5.bf5688"]]},{"id":"87e7edd5.bf5688","type":"mqtt out","z":"1a8d1247.eb464e","name":"","topic":"smart-home/heat-system/command","qos":"","retain":"","broker":"f0f9526d.c920a","x":1175,"y":160,"wires":[]},{"id":"d9e263a7.a928f8","type":"mqtt in","z":"1a8d1247.eb464e","name":"","topic":"smart-home/temp-hum-readings","qos":"0","datatype":"json","broker":"f0f9526d.c920a","x":185,"y":180,"wires":[["6ee1eef6.d995b","2ffac52a.de36f2"]]},{"id":"2ffac52a.de36f2","type":"debug","z":"1a8d1247.eb464e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.temp-C","targetType":"msg","x":610,"y":500,"wires":[]},{"id":"a2f388cf.e4127","type":"inject","z":"1a8d1247.eb464e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":540,"wires":[["2ffac52a.de36f2"]]},{"id":"f0f9526d.c920a","type":"mqtt-broker","z":"","name":"","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]