flows/simple.json
[{"id":"e21dd661.45d468","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c6593081.5485e","type":"function","z":"e21dd661.45d468","name":"Temperature Sensor","func":"let min = 15;\nlet max = 25;\nmsg.payload = Math.floor(Math.random() * (max - min + 1)) + min;\n\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":180,"wires":[["9a30c5ad.f7d3b","117bad77.0912c3"]],"outputLabels":["number"],"icon":"node-red/bridge.svg"},{"id":"9a30c5ad.f7d3b","type":"debug","z":"e21dd661.45d468","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":430,"y":60,"wires":[]},{"id":"117bad77.0912c3","type":"switch","z":"e21dd661.45d468","name":"Temp < 22 ºC ?","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"22","vt":"num"},{"t":"gte","v":"22","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":400,"y":180,"wires":[["b5c6c0b9.ef95"],["b922e583.db7fe"]]},{"id":"7fc94ce3.0b57d4","type":"inject","z":"e21dd661.45d468","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":165,"y":60,"wires":[["c6593081.5485e"]]},{"id":"b5c6c0b9.ef95","type":"change","z":"e21dd661.45d468","name":"Turn ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":655,"y":40,"wires":[["21ccbe2d.4f49ba"]]},{"id":"b922e583.db7fe","type":"change","z":"e21dd661.45d468","name":"TURN OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":645,"y":260,"wires":[["21ccbe2d.4f49ba"]]},{"id":"21ccbe2d.4f49ba","type":"function","z":"e21dd661.45d468","name":"Heat System","func":"\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":160,"wires":[["2fdb0f8f.9fb358"]],"icon":"node-red/cog.svg"},{"id":"2fdb0f8f.9fb358","type":"debug","z":"e21dd661.45d468","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":160,"wires":[]}]