flows/simple-smart-home.json
[{"id":"d06ccb98.09cff","type":"tab","label":"Simple Smart Home","disabled":false,"info":""},{"id":"7c4d2caa.037e9c","type":"switch","z":"d06ccb98.09cff","name":"Temp < 22 ºC ?","property":"payload.temp-C","propertyType":"msg","rules":[{"t":"lt","v":"22","vt":"num"},{"t":"gte","v":"22","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":575,"y":180,"wires":[["36b4d84e.eb4978"],["56eb3b36.bf4354"]]},{"id":"36b4d84e.eb4978","type":"change","z":"d06ccb98.09cff","name":"Turn ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":40,"wires":[["47a15069.555fe8"]]},{"id":"56eb3b36.bf4354","type":"change","z":"d06ccb98.09cff","name":"TURN OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":260,"wires":[["47a15069.555fe8"]]},{"id":"47a15069.555fe8","type":"mqtt out","z":"d06ccb98.09cff","name":"","topic":"smart-home/heat-system/command","qos":"","retain":"","broker":"b937e6ea.59e46","x":1175,"y":160,"wires":[]},{"id":"66231779.a86538","type":"mqtt in","z":"d06ccb98.09cff","name":"","topic":"smart-home/temp-hum-readings","qos":"0","datatype":"json","broker":"b937e6ea.59e46","x":185,"y":180,"wires":[["7c4d2caa.037e9c","2fd7be30.98e7ea"]]},{"id":"2fd7be30.98e7ea","type":"debug","z":"d06ccb98.09cff","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.temp-C","targetType":"msg","x":610,"y":500,"wires":[]},{"id":"8fc5b9f6.425368","type":"inject","z":"d06ccb98.09cff","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":540,"wires":[["2fd7be30.98e7ea"]]},{"id":"b937e6ea.59e46","type":"mqtt-broker","z":"","name":"","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]