flows/Validation/agriculture2-solved.json
[{"id":"9c972e29.d735f","type":"tab","label":"Agriculture 2","disabled":false,"info":""},{"id":"7d4a358a.aa13cc","type":"switch","z":"9c972e29.d735f","name":"Temp > 23ºC | Temp < 20 ºC ?","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"23","vt":"num"},{"t":"lt","v":"20","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":225,"y":583,"wires":[["3c584c82.260e34"],["f64ae03d.0e8078"]]},{"id":"f64ae03d.0e8078","type":"change","z":"9c972e29.d735f","name":"Turn ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":535,"y":663,"wires":[["c97897b9.426f18","26224fb2.7fc4a"]]},{"id":"3c584c82.260e34","type":"change","z":"9c972e29.d735f","name":"Turn OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":535,"y":523,"wires":[["c97897b9.426f18"]]},{"id":"c37a8cdc.4c8e18","type":"mqtt in","z":"9c972e29.d735f","name":"","topic":"agriculture/temp-hum-readings","qos":"0","datatype":"json","broker":"76c335fb.4a4864","x":151,"y":315,"wires":[["69eb70e4.2b0bb","9d78836e.a4c828"]]},{"id":"c97897b9.426f18","type":"mqtt out","z":"9c972e29.d735f","name":"","topic":"agriculture/heat-system/command","qos":"","retain":"","broker":"76c335fb.4a4864","x":935,"y":521,"wires":[]},{"id":"13561107.b322b7","type":"mqtt out","z":"9c972e29.d735f","name":"","topic":"agriculture/roof-window/command","qos":"","retain":"","broker":"76c335fb.4a4864","x":1124,"y":663,"wires":[]},{"id":"26224fb2.7fc4a","type":"change","z":"9c972e29.d735f","name":"Close Window","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":815,"y":663,"wires":[["13561107.b322b7"]]},{"id":"91776d15.1fb1","type":"mqtt out","z":"9c972e29.d735f","name":"","topic":"agriculture/water-system/command","qos":"","retain":"","broker":"76c335fb.4a4864","x":1136,"y":93,"wires":[]},{"id":"90930dd6.35bca","type":"switch","z":"9c972e29.d735f","name":"Hum <= 75","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"75","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":426,"y":113,"wires":[["9badb69f.1ae588"],["36ac34cf.b5c5e4"]]},{"id":"9badb69f.1ae588","type":"change","z":"9c972e29.d735f","name":"Turn ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":716,"y":30,"wires":[["91776d15.1fb1"]]},{"id":"36ac34cf.b5c5e4","type":"change","z":"9c972e29.d735f","name":"Turn OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":199,"wires":[["91776d15.1fb1"]]},{"id":"69eb70e4.2b0bb","type":"change","z":"9c972e29.d735f","name":"Extract Humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.hum-percent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":156,"y":113,"wires":[["90930dd6.35bca"]]},{"id":"9d78836e.a4c828","type":"change","z":"9c972e29.d735f","name":"Extract Temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temp-C","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":495,"y":315,"wires":[["7d4a358a.aa13cc"]]},{"id":"c82140b7.8de998","type":"mqtt in","z":"9c972e29.d735f","name":"","topic":"agriculture/forecasting","qos":"0","datatype":"json","broker":"211d37b6.6fa978","x":135,"y":860,"wires":[["57188ca8.25078c"]]},{"id":"e4f590be.d81fb","type":"switch","z":"9c972e29.d735f","name":"Sunny day","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"clear-day","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":585,"y":860,"wires":[["b695d510.3d1b6"],["26224fb2.7fc4a","fa857e65.5aacc"]]},{"id":"fa857e65.5aacc","type":"change","z":"9c972e29.d735f","name":"ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":825,"y":800,"wires":[["9378f2e0.a14eb8"]]},{"id":"b695d510.3d1b6","type":"change","z":"9c972e29.d735f","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":825,"y":1000,"wires":[["9378f2e0.a14eb8"]]},{"id":"9378f2e0.a14eb8","type":"mqtt out","z":"9c972e29.d735f","name":"","topic":"agriculture/roof-lux-controller/command","qos":"","retain":"","broker":"211d37b6.6fa978","x":1135,"y":840,"wires":[]},{"id":"57188ca8.25078c","type":"change","z":"9c972e29.d735f","name":"Extract Weather","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.icon","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":375,"y":860,"wires":[["e4f590be.d81fb"]]},{"id":"76c335fb.4a4864","type":"mqtt-broker","z":"","name":"","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"211d37b6.6fa978","type":"mqtt-broker","z":"","name":"","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]