flows/Validation/agriculture1.json
[{"id":"71f49bca.61079c","type":"tab","label":"Agriculture 1","disabled":false,"info":""},{"id":"831ce6a2.250888","type":"switch","z":"71f49bca.61079c","name":"Temp > 23ºC | Temp < 20 ºC ?","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"23","vt":"num"},{"t":"gt","v":"20","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":225,"y":583,"wires":[["f91afda6.fc65d"],["2cb8a9b9.f84e4e"]]},{"id":"2cb8a9b9.f84e4e","type":"change","z":"71f49bca.61079c","name":"Turn ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":535,"y":663,"wires":[["c3f1ac70.295c38","987bb3f6.0b54f8"]]},{"id":"f91afda6.fc65d","type":"change","z":"71f49bca.61079c","name":"Turn OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"0FF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":535,"y":523,"wires":[["c3f1ac70.295c38"]]},{"id":"e9d1d4d8.a54c1","type":"mqtt in","z":"71f49bca.61079c","name":"","topic":"agriculture/temp-hum-readings","qos":"0","datatype":"json","broker":"76c335fb.4a4864","x":151,"y":315,"wires":[["29a10bed.9350f4","fe88ef7d.50674"]]},{"id":"c3f1ac70.295c38","type":"mqtt out","z":"71f49bca.61079c","name":"","topic":"agriculture/heat-system/command","qos":"","retain":"","broker":"76c335fb.4a4864","x":935,"y":521,"wires":[]},{"id":"735ac0c8.3c87c","type":"mqtt out","z":"71f49bca.61079c","name":"","topic":"agriculture/roof-window/command","qos":"","retain":"","broker":"76c335fb.4a4864","x":1124,"y":663,"wires":[]},{"id":"987bb3f6.0b54f8","type":"change","z":"71f49bca.61079c","name":"Close Window","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":815,"y":663,"wires":[["735ac0c8.3c87c"]]},{"id":"91bcb66b.2b63c8","type":"mqtt out","z":"71f49bca.61079c","name":"","topic":"agriculture/water-system/command","qos":"","retain":"","broker":"76c335fb.4a4864","x":1136,"y":93,"wires":[]},{"id":"fa883710.79ba98","type":"switch","z":"71f49bca.61079c","name":"Hum <= 75","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"75","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":426,"y":113,"wires":[["22c622a1.d36a46"],["df6c5566.566d6"]]},{"id":"22c622a1.d36a46","type":"change","z":"71f49bca.61079c","name":"Turn ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":716,"y":30,"wires":[["91bcb66b.2b63c8"]]},{"id":"df6c5566.566d6","type":"change","z":"71f49bca.61079c","name":"Turn OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":199,"wires":[["91bcb66b.2b63c8"]]},{"id":"29a10bed.9350f4","type":"change","z":"71f49bca.61079c","name":"Extract Humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.hum","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":156,"y":113,"wires":[["fa883710.79ba98"]]},{"id":"fe88ef7d.50674","type":"change","z":"71f49bca.61079c","name":"Extract Temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temp-C","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":495,"y":315,"wires":[["831ce6a2.250888"]]},{"id":"76c335fb.4a4864","type":"mqtt-broker","z":"","name":"","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]