flows/Validation/agriculture2-solved.json
[{"id":"35f11b65.7b3064","type":"tab","label":"Agriculture 2","disabled":false,"info":""},{"id":"ab53ba17.9bab9","type":"switch","z":"35f11b65.7b3064","name":"Temp > 23ºC | Temp < 20 ºC ?","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"23","vt":"num"},{"t":"lt","v":"20","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":225,"y":583,"wires":[["c776833.1bfc6"],["a9845218.47fa58"]]},{"id":"a9845218.47fa58","type":"change","z":"35f11b65.7b3064","name":"Turn ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":535,"y":663,"wires":[["864c99f9.1cdac8","b9b02cbf.7bc7b"]]},{"id":"c776833.1bfc6","type":"change","z":"35f11b65.7b3064","name":"Turn OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":535,"y":523,"wires":[["864c99f9.1cdac8"]]},{"id":"6b1d1590.62ac34","type":"mqtt in","z":"35f11b65.7b3064","name":"","topic":"agriculture/temp-hum-readings","qos":"0","datatype":"json","broker":"869c5ed2.0e12d","x":151,"y":315,"wires":[["6f218fd4.9e1fa8","320846b1.0b3392"]]},{"id":"864c99f9.1cdac8","type":"mqtt out","z":"35f11b65.7b3064","name":"","topic":"agriculture/heat-system/command","qos":"","retain":"","broker":"869c5ed2.0e12d","x":935,"y":521,"wires":[]},{"id":"46101a55.fdab64","type":"mqtt out","z":"35f11b65.7b3064","name":"","topic":"agriculture/roof-window/command","qos":"","retain":"","broker":"869c5ed2.0e12d","x":1124,"y":663,"wires":[]},{"id":"b9b02cbf.7bc7b","type":"change","z":"35f11b65.7b3064","name":"Close Window","rules":[{"t":"set","p":"payload","pt":"msg","to":"CLOSE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":815,"y":663,"wires":[["46101a55.fdab64"]]},{"id":"daf4af25.586da","type":"mqtt out","z":"35f11b65.7b3064","name":"","topic":"agriculture/water-system/command","qos":"","retain":"","broker":"869c5ed2.0e12d","x":1136,"y":93,"wires":[]},{"id":"82abf941.ee80e","type":"switch","z":"35f11b65.7b3064","name":"Hum <= 75","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"75","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":426,"y":113,"wires":[["fca37f5f.60f1f"],["da3e0ab4.c1d23"]]},{"id":"fca37f5f.60f1f","type":"change","z":"35f11b65.7b3064","name":"Turn ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":716,"y":30,"wires":[["daf4af25.586da"]]},{"id":"da3e0ab4.c1d23","type":"change","z":"35f11b65.7b3064","name":"Turn OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":199,"wires":[["daf4af25.586da"]]},{"id":"6f218fd4.9e1fa8","type":"change","z":"35f11b65.7b3064","name":"Extract Humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.hum-percent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":156,"y":113,"wires":[["82abf941.ee80e"]]},{"id":"320846b1.0b3392","type":"change","z":"35f11b65.7b3064","name":"Extract Temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temp-C","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":495,"y":315,"wires":[["ab53ba17.9bab9"]]},{"id":"b814776c.129a6","type":"mqtt in","z":"35f11b65.7b3064","name":"","topic":"agriculture/forecasting","qos":"0","datatype":"json","broker":"a67dbd23.6fc85","x":135,"y":860,"wires":[["a3a2916d.ced0e8"]]},{"id":"a086a9f7.1a265","type":"switch","z":"35f11b65.7b3064","name":"Sunny day","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"clear-day","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":585,"y":860,"wires":[["ee28c91c.36ff58"],["b9b02cbf.7bc7b","73905aec.5e02a4"]]},{"id":"73905aec.5e02a4","type":"change","z":"35f11b65.7b3064","name":"ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":805,"y":920,"wires":[["21ff80a7.8ebf6"]]},{"id":"ee28c91c.36ff58","type":"change","z":"35f11b65.7b3064","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":805,"y":800,"wires":[["21ff80a7.8ebf6"]]},{"id":"21ff80a7.8ebf6","type":"mqtt out","z":"35f11b65.7b3064","name":"","topic":"agriculture/roof-lux-controller/command","qos":"","retain":"","broker":"a67dbd23.6fc85","x":1135,"y":840,"wires":[]},{"id":"a3a2916d.ced0e8","type":"change","z":"35f11b65.7b3064","name":"Extract Weather","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.icon","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":375,"y":860,"wires":[["a086a9f7.1a265"]]},{"id":"869c5ed2.0e12d","type":"mqtt-broker","z":"","name":"","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a67dbd23.6fc85","type":"mqtt-broker","z":"","name":"","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]