flows/Validation/agriculture2-solved.json
[{"id":"14b24897.e10e2f","type":"tab","label":"Agriculture 2","disabled":false,"info":""},{"id":"2f36e0a6.d6e458","type":"switch","z":"14b24897.e10e2f","name":"Temp > 23ºC | Temp < 20 ºC ?","property":"payload.temp-C","propertyType":"msg","rules":[{"t":"gt","v":"23","vt":"num"},{"t":"lt","v":"20","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":198,"y":619,"wires":[["10346fe2.e46b78"],["72d04151.e4d9"]]},{"id":"72d04151.e4d9","type":"change","z":"14b24897.e10e2f","name":"Turn ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":537,"y":627,"wires":[["f8bb6ec4.d04df","baf2d4d9.3ce578"]]},{"id":"10346fe2.e46b78","type":"change","z":"14b24897.e10e2f","name":"Turn OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":737,"y":420,"wires":[["f8bb6ec4.d04df"]]},{"id":"f57ea91a.86d98","type":"mqtt in","z":"14b24897.e10e2f","name":"","topic":"agriculture/temp-hum-readings","qos":"0","datatype":"json","broker":"2b476974.970a86","x":165,"y":419,"wires":[["7736c590.c02d94","84007b16.1b8748"]]},{"id":"f8bb6ec4.d04df","type":"mqtt out","z":"14b24897.e10e2f","name":"","topic":"agriculture/heat-system/command","qos":"","retain":"","broker":"2b476974.970a86","x":1113,"y":420,"wires":[]},{"id":"7736c590.c02d94","type":"rbe","z":"14b24897.e10e2f","name":"Tolerance 1ºC","func":"deadband","gap":"1","start":"","inout":"out","property":"payload.temp-C","x":455,"y":420,"wires":[["2f36e0a6.d6e458"]]},{"id":"d0a67c59.dc03f","type":"mqtt out","z":"14b24897.e10e2f","name":"","topic":"agriculture/roof-window/command","qos":"","retain":"","broker":"2b476974.970a86","x":1717,"y":620,"wires":[]},{"id":"1343594b.0148af","type":"change","z":"14b24897.e10e2f","name":"Close Window","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1397,"y":627,"wires":[["d0a67c59.dc03f"]]},{"id":"719460c7.37604","type":"mqtt out","z":"14b24897.e10e2f","name":"","topic":"agriculture/water-system/command","qos":"","retain":"","broker":"2b476974.970a86","x":1415,"y":100,"wires":[]},{"id":"baf2d4d9.3ce578","type":"http request","z":"14b24897.e10e2f","name":"Roof Window Controller Status","method":"GET","ret":"obj","paytoqs":false,"url":"sensors-fake-server:3000/agriculture/roof-window/status","tls":"","persist":false,"proxy":"","authType":"","x":807,"y":627,"wires":[["69d38435.6acef4"]]},{"id":"69d38435.6acef4","type":"switch","z":"14b24897.e10e2f","name":"Is Roof Window Open?","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1127,"y":627,"wires":[["1343594b.0148af"]]},{"id":"84007b16.1b8748","type":"switch","z":"14b24897.e10e2f","name":"Hum <= 75","property":"payload.hum-percent","propertyType":"msg","rules":[{"t":"lte","v":"75","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":145,"y":200,"wires":[["62a6d9dc.39633"],["e8f26023.58f9"]]},{"id":"f99097c6.68307","type":"change","z":"14b24897.e10e2f","name":"Turn ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":935,"y":37,"wires":[["719460c7.37604"]]},{"id":"e8f26023.58f9","type":"http request","z":"14b24897.e10e2f","name":"Water System Status","method":"GET","ret":"obj","paytoqs":false,"url":"sensors-fake-server:3000/agriculture/water-system/status","tls":"","persist":false,"proxy":"","authType":"","x":409,"y":206,"wires":[["dd28a357.2db3e"]]},{"id":"dd28a357.2db3e","type":"switch","z":"14b24897.e10e2f","name":"Is Water System ON?","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":689,"y":206,"wires":[["a7ad10b0.15cf2"]]},{"id":"a7ad10b0.15cf2","type":"change","z":"14b24897.e10e2f","name":"Turn OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":929,"y":206,"wires":[["719460c7.37604"]]},{"id":"6013ee34.b29d4","type":"inject","z":"14b24897.e10e2f","name":"Trigger 10pm","topic":"time","payload":"","payloadType":"date","repeat":"","crontab":"00 22 * * *","once":false,"onceDelay":0.1,"x":145,"y":36,"wires":[["62a6d9dc.39633"]]},{"id":"62a6d9dc.39633","type":"function","z":"14b24897.e10e2f","name":"Waiting until 10 pm","func":"context.data = context.data || {};\nswitch (msg.topic) {\n    case \"agriculture/temp-hum-readings\":\n        if(context.data.time != null)\n            context.data.value = msg.payload;\n        msg = null;\n        break;\n    case \"time\":\n        context.data.time = msg.payload;\n        msg = null;\n        break;\n    default:\n        msg = null;\n        break;\n}\n\nif(context.data.value != null && context.data.time != null) {\n    result = context.data.value\n    context.data = null;\n    return result;\n} else return msg;","outputs":1,"noerr":0,"x":405,"y":37,"wires":[["f99097c6.68307"]]},{"id":"917f832b.7545c8","type":"mqtt in","z":"14b24897.e10e2f","name":"","topic":"agriculture/forecasting","qos":"0","datatype":"json","broker":"2b476974.970a86","x":175,"y":840,"wires":[["ab8ba295.f93008"]]},{"id":"ab8ba295.f93008","type":"switch","z":"14b24897.e10e2f","name":"Sunny day","property":"payload.currently.summary","propertyType":"msg","rules":[{"t":"eq","v":"Clear","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":425,"y":841,"wires":[["aee09de1.afc6f"],["38a69708.a97628"]]},{"id":"aee09de1.afc6f","type":"change","z":"14b24897.e10e2f","name":"ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":665,"y":740,"wires":[["9542dbbc.9bbf98"]]},{"id":"38a69708.a97628","type":"change","z":"14b24897.e10e2f","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":665,"y":940,"wires":[["9542dbbc.9bbf98"]]},{"id":"9542dbbc.9bbf98","type":"mqtt out","z":"14b24897.e10e2f","name":"","topic":"agriculture/roof-lux-controller/command","qos":"","retain":"","broker":"2b476974.970a86","x":1100,"y":826,"wires":[]},{"id":"2b476974.970a86","type":"mqtt-broker","z":"","name":"","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]