flows/Validation/agriculture1.json
[{"id":"d50c2f17.e6705","type":"tab","label":"Agriculture 1","disabled":false,"info":""},{"id":"41d14f19.6e207","type":"switch","z":"d50c2f17.e6705","name":"Temp > 23ºC | Temp < 20 ºC ?","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"23","vt":"num"},{"t":"gt","v":"20","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":225,"y":583,"wires":[["4260fc7b.dafe8c"],["18e953ff.97abfc"]]},{"id":"18e953ff.97abfc","type":"change","z":"d50c2f17.e6705","name":"Turn ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":535,"y":663,"wires":[["a70499db.9d6b38","e0229b13.e8ee38"]]},{"id":"4260fc7b.dafe8c","type":"change","z":"d50c2f17.e6705","name":"Turn OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":535,"y":523,"wires":[["a70499db.9d6b38"]]},{"id":"2968ed4b.e8bbe2","type":"mqtt in","z":"d50c2f17.e6705","name":"","topic":"agriculture/temp-hum-readings","qos":"0","datatype":"json","broker":"b58f7f20.4930d8","x":151,"y":315,"wires":[["333ccf72.f55ae8","c4958bc6.f00e3"]]},{"id":"a70499db.9d6b38","type":"mqtt out","z":"d50c2f17.e6705","name":"","topic":"agriculture/heat-system/command","qos":"","retain":"","broker":"b58f7f20.4930d8","x":935,"y":521,"wires":[]},{"id":"16200733.bd56a1","type":"mqtt out","z":"d50c2f17.e6705","name":"","topic":"agriculture/roof-window/command","qos":"","retain":"","broker":"b58f7f20.4930d8","x":1124,"y":663,"wires":[]},{"id":"e0229b13.e8ee38","type":"change","z":"d50c2f17.e6705","name":"Close Window","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":815,"y":663,"wires":[["16200733.bd56a1"]]},{"id":"7076478a.4095a","type":"mqtt out","z":"d50c2f17.e6705","name":"","topic":"agriculture/water-system/command","qos":"","retain":"","broker":"b58f7f20.4930d8","x":1136,"y":93,"wires":[]},{"id":"2347e63f.d5ec12","type":"switch","z":"d50c2f17.e6705","name":"Hum <= 75","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"75","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":426,"y":113,"wires":[["e7a35eeb.4d7948"],["a5b70470.b199f8"]]},{"id":"e7a35eeb.4d7948","type":"change","z":"d50c2f17.e6705","name":"Turn ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":716,"y":30,"wires":[["7076478a.4095a"]]},{"id":"a5b70470.b199f8","type":"change","z":"d50c2f17.e6705","name":"Turn OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":199,"wires":[["7076478a.4095a"]]},{"id":"333ccf72.f55ae8","type":"change","z":"d50c2f17.e6705","name":"Extract Humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.hum","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":156,"y":113,"wires":[["2347e63f.d5ec12"]]},{"id":"c4958bc6.f00e3","type":"change","z":"d50c2f17.e6705","name":"Extract Temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temp-C","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":495,"y":315,"wires":[["41d14f19.6e207"]]},{"id":"b58f7f20.4930d8","type":"mqtt-broker","z":"","name":"","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]