flows/Validation/agriculture1-solved.json
[{"id":"90469b8c.100368","type":"tab","label":"Agriculture 1","disabled":false,"info":""},{"id":"d1ff6cc7.43d8d8","type":"switch","z":"90469b8c.100368","name":"Temp > 23ºC | Temp < 20 ºC ?","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"23","vt":"num"},{"t":"lt","v":"20","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":225,"y":583,"wires":[["5ef2e8a3.1ecc4"],["d3a3f8b2.215f78"]]},{"id":"d3a3f8b2.215f78","type":"change","z":"90469b8c.100368","name":"Turn ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":535,"y":663,"wires":[["d674ec6d.bd9d18","55342e91.99bca"]]},{"id":"5ef2e8a3.1ecc4","type":"change","z":"90469b8c.100368","name":"Turn OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":535,"y":523,"wires":[["d674ec6d.bd9d18"]]},{"id":"f36a83ae.175cb8","type":"mqtt in","z":"90469b8c.100368","name":"","topic":"agriculture/temp-hum-readings","qos":"0","datatype":"json","broker":"ac190599.a41fa8","x":151,"y":315,"wires":[["46b28bbe.b748e4","649055db.fc4e94"]]},{"id":"d674ec6d.bd9d18","type":"mqtt out","z":"90469b8c.100368","name":"","topic":"agriculture/heat-system/command","qos":"","retain":"","broker":"ac190599.a41fa8","x":935,"y":521,"wires":[]},{"id":"d84aa339.629c3","type":"mqtt out","z":"90469b8c.100368","name":"","topic":"agriculture/roof-window/command","qos":"","retain":"","broker":"ac190599.a41fa8","x":1124,"y":663,"wires":[]},{"id":"55342e91.99bca","type":"change","z":"90469b8c.100368","name":"Close Window","rules":[{"t":"set","p":"payload","pt":"msg","to":"CLOSE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":815,"y":663,"wires":[["d84aa339.629c3"]]},{"id":"4e4f2733.de2948","type":"mqtt out","z":"90469b8c.100368","name":"","topic":"agriculture/water-system/command","qos":"","retain":"","broker":"ac190599.a41fa8","x":1136,"y":93,"wires":[]},{"id":"4e97c914.e6233","type":"switch","z":"90469b8c.100368","name":"Hum <= 75","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"75","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":426,"y":113,"wires":[["65fba819.e9e2e"],["bc712433.1165a8"]]},{"id":"65fba819.e9e2e","type":"change","z":"90469b8c.100368","name":"Turn ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":716,"y":30,"wires":[["4e4f2733.de2948"]]},{"id":"bc712433.1165a8","type":"change","z":"90469b8c.100368","name":"Turn OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":199,"wires":[["4e4f2733.de2948"]]},{"id":"46b28bbe.b748e4","type":"change","z":"90469b8c.100368","name":"Extract Humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.hum-percent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":156,"y":113,"wires":[["4e97c914.e6233"]]},{"id":"649055db.fc4e94","type":"change","z":"90469b8c.100368","name":"Extract Temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temp-C","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":495,"y":315,"wires":[["d1ff6cc7.43d8d8"]]},{"id":"ac190599.a41fa8","type":"mqtt-broker","z":"","name":"","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]