flows/Validation/agriculture1.json
[{"id":"e21b3c1b.a1dd","type":"tab","label":"Agriculture 1","disabled":false,"info":""},{"id":"94665d19.56f3c8","type":"switch","z":"e21b3c1b.a1dd","name":"Temp > 23ºC | Temp < 20 ºC ?","property":"payload.temp-C","propertyType":"msg","rules":[{"t":"lt","v":"23","vt":"num"},{"t":"gt","v":"20","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":198,"y":619,"wires":[["ad646e2b.3bc618"],["c4075ccf.0aab5"]]},{"id":"c4075ccf.0aab5","type":"change","z":"e21b3c1b.a1dd","name":"Turn ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":537,"y":627,"wires":[["ca7261f2.a2c24","c4c60e98.e2742"]]},{"id":"ad646e2b.3bc618","type":"change","z":"e21b3c1b.a1dd","name":"Turn OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":737,"y":420,"wires":[["ca7261f2.a2c24"]]},{"id":"4cd72b88.10d4dc","type":"mqtt in","z":"e21b3c1b.a1dd","name":"","topic":"agriculture/temp-hum-readings","qos":"0","datatype":"json","broker":"2b476974.970a86","x":165,"y":419,"wires":[["8b9d952f.5d957","72b2674c.444a6"]]},{"id":"ca7261f2.a2c24","type":"mqtt out","z":"e21b3c1b.a1dd","name":"","topic":"agriculture/heat-system/command","qos":"","retain":"","broker":"2b476974.970a86","x":1113,"y":420,"wires":[]},{"id":"8b9d952f.5d957","type":"rbe","z":"e21b3c1b.a1dd","name":"Tolerance 1ºC","func":"deadbandEq","gap":"0.1","start":"","inout":"out","property":"payload.temp-C","x":455,"y":420,"wires":[["94665d19.56f3c8"]]},{"id":"b77b482d.eb3908","type":"mqtt out","z":"e21b3c1b.a1dd","name":"","topic":"agriculture/roof-window/command","qos":"","retain":"","broker":"2b476974.970a86","x":1717,"y":620,"wires":[]},{"id":"8698ecd0.68ba4","type":"change","z":"e21b3c1b.a1dd","name":"Close Window","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1397,"y":627,"wires":[["b77b482d.eb3908"]]},{"id":"e3864d71.5bfcc8","type":"mqtt out","z":"e21b3c1b.a1dd","name":"","topic":"agriculture/water-system/command","qos":"","retain":"","broker":"2b476974.970a86","x":1415,"y":100,"wires":[]},{"id":"c4c60e98.e2742","type":"http request","z":"e21b3c1b.a1dd","name":"Roof Window Controller Status","method":"GET","ret":"obj","paytoqs":false,"url":"sensors-fake-server:3000/agriculture/roof-window/status","tls":"","persist":false,"proxy":"","authType":"","x":807,"y":627,"wires":[["957f4118.5f314"]]},{"id":"957f4118.5f314","type":"switch","z":"e21b3c1b.a1dd","name":"Is Roof Window Open?","property":"payload.status","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1127,"y":627,"wires":[["8698ecd0.68ba4"]]},{"id":"72b2674c.444a6","type":"switch","z":"e21b3c1b.a1dd","name":"Hum <= 75","property":"payload.hum-percent","propertyType":"msg","rules":[{"t":"lte","v":"75","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":145,"y":200,"wires":[["9a55f94d.5fa8c8"],["7cf33e0b.a3ca18"]]},{"id":"476253e9.720c44","type":"change","z":"e21b3c1b.a1dd","name":"Turn ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":935,"y":37,"wires":[["e3864d71.5bfcc8"]]},{"id":"7cf33e0b.a3ca18","type":"http request","z":"e21b3c1b.a1dd","name":"Water System Status","method":"GET","ret":"obj","paytoqs":false,"url":"sensors-fake-server:3000/agriculture/water-system/status","tls":"","persist":false,"proxy":"","authType":"","x":409,"y":206,"wires":[["2a9becb8.f12e34"]]},{"id":"2a9becb8.f12e34","type":"switch","z":"e21b3c1b.a1dd","name":"Is Water System ON?","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":689,"y":206,"wires":[["3b273452.673ad4"]]},{"id":"3b273452.673ad4","type":"change","z":"e21b3c1b.a1dd","name":"Turn OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":929,"y":206,"wires":[["e3864d71.5bfcc8"]]},{"id":"d335b647.ca7858","type":"inject","z":"e21b3c1b.a1dd","name":"Trigger 10pm","topic":"time","payload":"","payloadType":"date","repeat":"","crontab":"00 22 * * *","once":false,"onceDelay":0.1,"x":145,"y":36,"wires":[["9a55f94d.5fa8c8"]]},{"id":"9a55f94d.5fa8c8","type":"function","z":"e21b3c1b.a1dd","name":"Waiting until 10 pm","func":"context.data = context.data || {};\nswitch (msg.topic) {\n    case \"agriculture/temp-hum-readings\":\n        if(context.data.time != null)\n            context.data.value = msg.payload;\n        msg = null;\n        break;\n    case \"time\":\n        context.data.time = msg.payload;\n        msg = null;\n        break;\n    default:\n        msg = null;\n        break;\n}\n\nif(context.data.value != null && context.data.time != null) {\n    context.data = null;\n    return {payload: 'ON'};\n} else return msg;","outputs":1,"noerr":0,"x":405,"y":37,"wires":[["476253e9.720c44"]]},{"id":"2b476974.970a86","type":"mqtt-broker","z":"","name":"","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]