flows/Validation/smart-home.json
[{"id":"6839de6a.b6ab7","type":"tab","label":"Smart Home","disabled":false,"info":""},{"id":"3367ae54.e5ce1a","type":"switch","z":"6839de6a.b6ab7","name":"Motion detected?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":665,"y":340,"wires":[["7f370c0d.2cf094"]]},{"id":"e9835a1a.6d5f9","type":"mqtt in","z":"6839de6a.b6ab7","name":"","topic":"smart-home/kitchen-motion-readings","qos":"0","datatype":"json","broker":"44529fec.7e54c","x":175,"y":260,"wires":[["dc94564d.93c05"]]},{"id":"7d9e7e5b.cd31d8","type":"mqtt out","z":"6839de6a.b6ab7","name":"","topic":"smart-home/kitchen-lights/command","qos":"","retain":"","broker":"44529fec.7e54c","x":1165,"y":260,"wires":[]},{"id":"7f370c0d.2cf094","type":"change","z":"6839de6a.b6ab7","name":"Turn ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":855,"y":260,"wires":[["7d9e7e5b.cd31d8"]]},{"id":"cfadbf84.ba4708","type":"mqtt out","z":"6839de6a.b6ab7","name":"","topic":"smart-home/water-heat-controller/command","qos":"","retain":"","broker":"44529fec.7e54c","x":805,"y":62,"wires":[]},{"id":"7b830765.5cbde","type":"change","z":"6839de6a.b6ab7","name":"Turn ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":415,"y":62,"wires":[["cfadbf84.ba4708","c864c9b7.31efb"]]},{"id":"e6f84fa1.621ca","type":"inject","z":"6839de6a.b6ab7","name":"Trigger 06am","topic":"time","payload":"","payloadType":"date","repeat":"","crontab":"00 06 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"x":175,"y":62,"wires":[["7b830765.5cbde"]]},{"id":"dc94564d.93c05","type":"change","z":"6839de6a.b6ab7","name":"Extract Movement","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.motion-bool","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":465,"y":260,"wires":[["3367ae54.e5ce1a"]]},{"id":"c864c9b7.31efb","type":"mqtt out","z":"6839de6a.b6ab7","name":"","topic":"smart-home/coffee-machine/command","qos":"","retain":"","broker":"44529fec.7e54c","x":805,"y":140,"wires":[]},{"id":"44529fec.7e54c","type":"mqtt-broker","z":"","name":"","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]