flows/Validation/smart-home.json
[{"id":"babeca7b.69fc8","type":"tab","label":"Smart Home","disabled":false,"info":""},{"id":"52481ce6.f970ac","type":"switch","z":"babeca7b.69fc8","name":"Motion detected?","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":465,"y":320,"wires":[["cdbb169f.0ea22"]]},{"id":"d56d3fd.56835c","type":"mqtt in","z":"babeca7b.69fc8","name":"","topic":"smart-home/kitchen-motion-readings","qos":"0","datatype":"json","broker":"2b476974.970a86","x":175,"y":262,"wires":[["52481ce6.f970ac"]]},{"id":"39cb7082.71e488","type":"mqtt in","z":"babeca7b.69fc8","name":"","topic":"smart-home/forecasting","qos":"0","datatype":"json","broker":"2b476974.970a86","x":135,"y":562,"wires":[["2a05cebf.903d4a"]]},{"id":"2a05cebf.903d4a","type":"switch","z":"babeca7b.69fc8","name":"Not Sunny day","property":"payload.day","propertyType":"msg","rules":[{"t":"neq","v":"sunny","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":395,"y":562,"wires":[["afc1519e.40a628"]]},{"id":"afc1519e.40a628","type":"change","z":"babeca7b.69fc8","name":"ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":605,"y":562,"wires":[["d7936d24.63601"]]},{"id":"9beb2a53.e0d62","type":"mqtt out","z":"babeca7b.69fc8","name":"","topic":"smart-home/blinds-controller/command","qos":"","retain":"","broker":"2b476974.970a86","x":1125,"y":562,"wires":[]},{"id":"5e175eb3.4d1a8","type":"mqtt out","z":"babeca7b.69fc8","name":"","topic":"smart-home/kitchen-lights/command","qos":"","retain":"","broker":"2b476974.970a86","x":1505,"y":266,"wires":[]},{"id":"db0b9d15.b95788","type":"change","z":"babeca7b.69fc8","name":"Turn ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1255,"y":320,"wires":[["5e175eb3.4d1a8"]]},{"id":"364895d7.9c715a","type":"mqtt out","z":"babeca7b.69fc8","name":"","topic":"smart-home/water-heat-controller/command","qos":"","retain":"","broker":"2b476974.970a86","x":805,"y":62,"wires":[]},{"id":"cdbb169f.0ea22","type":"http request","z":"babeca7b.69fc8","name":"Kitchen Luminosity Status","method":"GET","ret":"obj","paytoqs":false,"url":"localhost:3000/smart-home/lux-readings/status","tls":"","persist":false,"proxy":"","authType":"","x":765,"y":320,"wires":[["9fa03fd.6d0054"]]},{"id":"9fa03fd.6d0054","type":"switch","z":"babeca7b.69fc8","name":"Hasn't Kitchen Light?","property":"payload.status","propertyType":"msg","rules":[{"t":"lte","v":"50","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1035,"y":320,"wires":[["db0b9d15.b95788"]]},{"id":"e0d77bd1.03c36","type":"change","z":"babeca7b.69fc8","name":"Turn ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":415,"y":62,"wires":[["364895d7.9c715a"]]},{"id":"f73bf725.2cc268","type":"inject","z":"babeca7b.69fc8","name":"Trigger 06am","topic":"time","payload":"","payloadType":"date","repeat":"","crontab":"00 06 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"x":175,"y":62,"wires":[["e0d77bd1.03c36"]]},{"id":"d7936d24.63601","type":"rbe","z":"babeca7b.69fc8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":805,"y":562,"wires":[["9beb2a53.e0d62"]]},{"id":"2b476974.970a86","type":"mqtt-broker","z":"","name":"","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]