flows/Validation/tutorial2-solved.json
[{"id":"1d62201b.425328","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f9c3a622.2db8d","type":"mqtt in","z":"1d62201b.425328","name":"","topic":"tutorial/earthquake-sensor","qos":"2","datatype":"json","broker":"38f1c72a.4d1758","x":220,"y":260,"wires":[["39999cbf.42fc44","4705caa0.f98d84"]]},{"id":"2f2de029.b2492","type":"mqtt out","z":"1d62201b.425328","name":"","topic":"tutorial/alarm/command","qos":"","retain":"","broker":"38f1c72a.4d1758","x":1020,"y":260,"wires":[]},{"id":"4705caa0.f98d84","type":"switch","z":"1d62201b.425328","name":"","property":"payload.mag","propertyType":"msg","rules":[{"t":"gte","v":"7","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":380,"y":400,"wires":[["7580dc85.7f3b9c"]]},{"id":"7580dc85.7f3b9c","type":"change","z":"1d62201b.425328","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":420,"wires":[["2f2de029.b2492","945a1309.38a09"]]},{"id":"39999cbf.42fc44","type":"debug","z":"1d62201b.425328","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":700,"y":160,"wires":[]},{"id":"945a1309.38a09","type":"debug","z":"1d62201b.425328","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":800,"y":480,"wires":[]},{"id":"38f1c72a.4d1758","type":"mqtt-broker","z":"","name":"","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]