flows/Validation/tutorial1-solved.json
[{"id":"1d62201b.425328","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"94996d10.6ff1","type":"inject","z":"1d62201b.425328","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":120,"wires":[["1c25d5dd.99dc92"]]},{"id":"4effe88c.7bfbb8","type":"debug","z":"1d62201b.425328","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660,"y":140,"wires":[]},{"id":"1c25d5dd.99dc92","type":"function","z":"1d62201b.425328","name":"","func":"// Create a Date object from the payload\nvar date = new Date(msg.payload);\n// Change the payload to be a formatted Date string\nmsg.payload = date.toString();\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":220,"wires":[["4effe88c.7bfbb8"]]}]